{{#each posts as |post|}}
<button class="btn btn-primary" href="/dashboard" role="button">{{post.title}}</button>
{{/each}}

<div class="center mt-4">
    <a class="btn btn-primary" href="/dashboard/newpost" role="button">Create New Post</a>
</div>