{{#each posts as |post|}}
<div class="center mt-4">
    <a class="btn btn-primary" href="/dashboard/newpost/{{post.id}}" role="button">{{post.title}}</a>
</div>
{{/each}}

<div class="center mt-4">
    <a class="btn btn-primary" href="/dashboard/newpost" role="button">Create New Post</a>
</div>