<div class="center new-post">
    <div class="mb-3">
        <h1>New Post</h1>
    </div>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Title</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="EX: Sports">
    </div>
    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Description</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <a class="btn btn-primary" href="#" role="button">Post</a>
</div>