<div class="card m-3">
    <div class="card-header">
        <p class="custom-p" id="title">{{posts.title}}</p>
        <a class="delete-btn float-right" id="deletePost" href="/dashboard/">Delete</a>
        <a class="update-post float-right" id="updatePost" href="/dashboard/updatepost/{{posts.id}}">Edit</a>
    </div>
    <div class="card-body" id="postBody">
        <p class="custom-p">{{posts.body}}</p>
    </div>
</div>

<script src="/js/update-post.js"></script>