<div class="card m-3">
    <div class="card-header single-post-style">
        <p class="custom-p" id="title">{{posts.title}}</p>
        <button class="delete-btn float-right delete-btn-style" id="deletePost" value="{{posts.id}}">Delete</button>
        <a class="update-post float-right btn-style" id="updatePost" href="/dashboard/updatepost/{{posts.id}}">Edit</a>
    </div>
    <div class="card-body" id="postBody">
        <p class="custom-p">{{posts.body}}</p>
    </div>
</div>

<script src="/js/delete-post.js"></script>
<script src="/js/update-post.js"></script>