<div class="center" id="new-post">
    <div class="mb-3">
        <h1>Update Post</h1>
    </div>
    <form class="new-post update-post">
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Title</label>
            <input class="form-control font-size" id="title" placeholder="EX: Sports">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Description</label>
            <textarea class="form-control font-size" id="postBody" rows="3">{{post.body}}</textarea>
        </div>
        <button type="submit" class="btn btn-style update-post" id="updateBtn" role="button" value="{{posts.id}}">Update</button>
    </form>
</div>

<script src="/js/update-post.js"></script>