#login-form {
    height: 500px;
    width: 500px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.center {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.new-post {
    width: 75%;
}